.bg-swarm {
    background-color: #57344b;
}
.txt-color {
    color: red;
}

.people-img{
    height: 7vh;
    width: 7vh;
    /* border-radius: 50%; */
    object-fit: contain;
    object-position: center;
}